/* Graph */
.entriesGraphs {
    height: 400px;
    margin-top: 5px;
    border: 1px solid transparent;
    /*width: 50%;
    height: 300px;
    float: right;*/
}

.entriesGraph-title {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

path {
    /*stroke: steelblue;*/
    stroke-width: 3;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}







/* List */
.entryList {
    border: 1px solid transparent;
    margin-top: 5px;
    height: 800px;
}

.entryList-title {
    font-size: 25px;
    text-align: center;
    height: 35px;
    margin-bottom: 20px;
    margin-top: 15px;
}

    .entryList-title:after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid #E1E1E1;
        left: 7.5px;
        width: 100%;
    }

.entryList-content {
    overflow: auto;
    height: 728px;
}









/* Statistics */
.entriesStatistics {
    margin-top: 5px;
    border: 1px solid transparent;
    height: 395px;
}

.entriesStatistics-title {
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
}

    .entriesStatistics-title:after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid #E1E1E1;
        left: 0;
        width: 100%;
    }

.entriesStatistics-content {
    height: 325px;
    margin-top: 20px;
    font-size: 20px;
    /*margin-left:20px;*/
}

    .entriesStatistics-content table {
        height: 100%;
        width: 100%;
    }

.entriesStatistics-content-totalSpending {
}

.totalSpending-label {
}

.totalSpending-value {
    color: #F7977A;
}

.entriesStatistics-content-totalEarnings {
}

.totalEarnings-label {
}

.totalEarnings-value {
    color: #78DD77;
}

.entriesStatistics-content-sum {
}

.sum-label {
}

.sum-value-positive {
    color: #78DD77;
}

.sum-value-negative {
    color: #F7977A;
}








/*List Elements*/
.entry-cell-container {
    border: 1px solid #E1E1E1;
    background-color: #EBEBEB;
    margin-top: 20px;
    margin-right: 10px;
}

.entry-cell-value {
    /*border: 1px solid blue;*/
    font-size: 25px;
    margin: 5px;
    /*float: right;
    right: 40%;
    position: absolute;*/
}

.entry-cell-icon {
    /*border: 1px solid yellow;*/
    font-size: 25px;
    margin: 5px;
    /*float: left;
    left: 40%;
    position: absolute;*/
}

    .entry-cell-icon i {
        float: right;
    }

.entry-cell-description {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    max-height: 100px;
    overflow: hidden;
    /*-ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}

.entry-cell-dateTime {
    font-size: 10px;
}
