@using Plutus.Portable.Data
@model  Plutus.Portable.Data.IEntry
<div class="entry-cell-container">

    <table style="width:100%;">
        <tr>
            <td>
                <div class="entry-cell-icon">
                    @if (Model.Value < 0) {
                        <text>
                            <i class="fa fa-arrow-circle-down" style="color:red;" title=""></i>
                        </text>
                    }
                    else {
                        <text>
                            <i class="fa fa-arrow-circle-up" style="color:green;" title=""></i>
                        </text>
                    }
                </div>
            </td>
            <td style="width:75%;">
                <div class="entry-cell-value">
                    @Model.Value
                </div>
            </td>
        </tr>
        <tr>
            <td align="center" colspan=2>
                <div class="entry-cell-description">
                    @Model.Description
                </div>
            </td>
        </tr>
    </table>
</div>
