@model Plutus.Web.Models.EntryListViewModel
@using Plutus.Portable.Data

@{
    Layout = "";
}

<div class="entryList">
    <div class="entryList-title">
        <p>Entries</p>
    </div>
    <div class="entryList-content">
            @foreach (IEntry entry in Model.Entries) {
                Html.RenderPartial("EntryListRow", entry);
            }
    </div>
</div>