@model Plutus.Web.Models.EntriesGraphViewModel

@{
    Layout = "";
}

<div class="entriesGraphs">
    <div class="entriesGraph-title ">
        <p>Graph</p>
    </div>
</div>

<script>
    var response =  @Html.Raw(Json.Encode(Model.Entries));
</script>