@model Plutus.Web.Models.EntriesGraphViewModel

@{
    Layout = "";
}

<div class="entriesGraphs">
    <div class="entriesGraph-title ">
        <p>Graph</p>
    </div>
</div>

<script>
    var response =  @Html.Raw(Json.Encode(Model.Points));

    //var graph = new Graph();
    //graph.Draw();

    var barChart = new BarChart();
    barChart.Draw();
</script>