@model Plutus.Web.Models.EntryListViewModel
@using Plutus.Portable.Data

@{
    Layout = "";
}

<div class="entryList">
    <div class="entryList-title">
        <p>
            Entries
        </p>
    </div>
    <div class="entryList-content">
        @{Html.RenderPartial("EntryListContent", Model.Entries);}
    </div>
</div>