@model Plutus.Web.Models.EntryListViewModel
@using Plutus.Portable.Data

@{
    Layout = "";
}

<div class="entryList">
    <div class="entryList-title">
        <p>Entries</p>

        @foreach (IEntry entry in Model.Entries) {
            <text>
                <p>
                    @entry.Value
                    @entry.Description
                </p>
            </text>
        }

    </div>
</div>