@model Plutus.Web.Models.EntriesStatisticsViewModel

@{
    Layout = "";
}

<div class="entriesStatistics">
    <div class="entriesStatistics-title ">
        <p>Statistics</p>
    </div>

    <div class="entriesStatistics-content">
        <table>
            <tr style="height:20%;">
                <td style="width:25%;">
                    <div class="entriesStatistics-content-totalEarnings">
                        <div class="totalEarnings-label">
                            Total Earnings
                        </div>
                        <div class="totalEarnings-value">
                            @Model.StatisticsData.TotalPositive
                        </div>
                    </div>
                </td>
                <td style="width:25%;">
                    <div class="entriesStatistics-content-totalSpending">
                        <div class="totalSpending-label">
                            Total Spending
                        </div>
                        <div class="totalSpending-value">
                            @Model.StatisticsData.TotalNegative
                        </div>
                    </div>
                </td>
                <td style="width:10%;"></td>
                <td>
                    <div class="entriesStatistics-content-sum">
                        <div class="sum-label">
                            Sum
                        </div>
                        <div class="sum-value-@(Model.StatisticsData.Sum > 0 ? "positive":"negative")">
                            @Model.StatisticsData.Sum
                        </div>
                    </div>
                </td>
            </tr>
            <tr></tr>
        </table>
    </div>
</div>