@model Plutus.Web.Models.GeneralDisplayViewModel

@{
    Layout = "";
}
@{
    ViewBag.Title = "General Display";
}


<div class="row">
    <div class="col-md-4">
        @{ Html.RenderPartial("entrylist", Model.EntryListViewModel); }
    </div>
    <div class="col-md-8">
        @{ Html.RenderPartial("EntriesStatistics", Model.EntriesStatisticsViewModel);}

        @{ Html.RenderPartial("EntriesGraph", Model.EntriesGraphViewModel);}
    </div>
</div>


@Styles.Render("~/GeneralDisplay")