@model Plutus.Web.Models.GeneralDisplayViewModel

@{
    Layout = "";
}
@{
    ViewBag.Title = "General Display";
}

@Scripts.Render("~/bundles/generalDisplay")

@{ Html.RenderPartial("Filter", Model.FilterViewModel);}

<div id="generalDisplayContent">
    @{ Html.RenderPartial("GeneralDisplayContent", Model);}
</div>

<div class="loading" id="generalDisplayLoading">
    <div class="dot"></div>
    <div class="dot2"></div>
</div>

<script>
    var reloadAjaxCall;
    function RefreshGeneralDisplay(filterData) {
        $("#generalDisplayContent").html("");
        $("#generalDisplayLoading").css("display", "block");
        $("#slider").dateRangeSlider({
            enabled: false
        });

        if (reloadAjaxCall && reloadAjaxCall.readystate != 4) {
            reloadAjaxCall.abort();
        }
        reloadAjaxCall = $.ajax({
            cache: false,
            type: "POST",
            url: "@Url.Action("GeneralDisplayContent", "Display")",
            data: JSON.stringify(filterData),
            contentType: 'application/json',
            success: function (response) {
                $("#generalDisplayLoading").css("display", "none");
                $("#generalDisplayContent").html(response);
                $("#slider").dateRangeSlider({
                    enabled: true
                });
            }
        });
    }
</script>
